.header {}

.header-nav {

}

.header-link {
    color:black
}
 
.header-link:hover {
    color: #4D5AE5
}

.header-item {}

.header-contacts {}

.hero {}

.hero-title {
    

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    

    text-align: center;
    letter-spacing: 0.02em;

}

.hero-btn {
    
    
        
        /* IRIS */
    
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.feature {}

.feature-list {}

.feature-item {}

.feature-title {}

.feature-text {}

.about {}

.about-title {}

.about-list {}

.about-img {}

.team {}

.team-title {}

.team-list {}

.team-card {}

.team-text {}
