.header {}

.header-nav {}

.header-link:hover {}

.header-item {}

.header-contacts {}

.hero {}

.hero-title {
    position: absolute;
    width: 496px;
    height: 120px;
    left: 472px;
    top: 260px;

    /* Header 1 */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    /* or 107% */

    text-align: center;
    letter-spacing: 0.02em;

}

.hero-btn {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;
    
        position: absolute;
        width: 169px;
        height: 56px;
        left: 636px;
        top: 428px;
    
        /* IRIS */
    
        background: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
}

.feature {}

.feature-list {}

.feature-item {}

.feature-title {}

.feature-text {}

.about {}

.about-title {}

.about-list {}

.about-img {}

.team {}

.team-title {}

.team-list {}

.team-card {}

.team-text {}
cmmb
